################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BusTicketBooking/v15/Server/sqlite3
/OnlineBusTicketBooking/bin/roslyn
/.vs
